ics385spring2026.code-workspace
.codesandbox
.vscode
node_modules/
.env
mongodbcommands.txt
hawaii-tourism-los-calculator

week14/term-project/ToddYoshioka_ProjectPRD.txt
week15/hw15a/client_secret_815069318388-8g4pe9i375qahvs5n92l7pf4n674coh9.apps.googleusercontent.com.json
week15/ToddYoshioka_ProjectPRD.txt