<%- include("partials/solution-header.ejs") %>

  <% if (locals.course_id && locals.course_name) { %>
    <h1>
      <%= course_id %>
        <%= course_name %>
    </h1>
    <% } else { %>
      <h1>Welcome to Random Course Generator</h1>
      <% } %>



        <form action="/submit" method="POST">
          <input type="submit" value="Generate Name">
        </form>


        <%- include("partials/solution-footer.ejs") %>